
@import "tailwindcss";


@layer base {
  html {
    height: 100%;
    overflow: hidden;
    background-color: #EDE5D8;
  }

  body {
    height: 100%;
    overflow: hidden;
    background-color: #EDE5D8;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
